body{
padding: 0;
margin: 0;
box-sizing: border-box;
}
.fs-16
{
    font-size: 16pt; /*pontos do word/excel */
}
a{
cursor: pointer;
}
#sair{
    position:absolute;
    right: 0;
    width:300px;
    text-align: right;
}
